*{
   margin: 0; 
   padding: 0; 
   box-sizing: border-box; 
}
/* Inizio Main */

.container-fluid {
   display: flex;
   width: 100vw;
   height: 100vh;
   justify-content: center;
}

.container {
   display: flex;
   align-self: center;
   justify-content: space-around;
   border: 1px solid lightgrey;
   border-radius: 20px;
}

.prova {
   justify-content: center;
}

h1 {
   color: rgb(58, 58, 58);
}

.contenitore {
   text-align: right;
}

.prova {
   display: flex;
   flex-direction: column;
}

/* Fine Main */
/* -------------------------------------------------- */

/* !DEBUG ZONE! */
